:root{
    --main-c:#fdd72d;
    --border-r:.2rem;
  }
  
 
  
  html *{
   margin: 0; 
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  p{
    font-size: 1.1rem;
  }
  
  a{
    text-decoration: none;
  }
  
  ul, li{
    list-style: none;
  }
  
  .wrap-cta{
    padding: 1.5rem 0;
  }
  
  .cta-a{
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--main-c);
    padding: .5rem 1rem;
    border-radius: var(--border-r);
  }
  
  h1{
    font-size: 2.8rem;
  }
  h2{
    font-size: 2.5rem;
  }
  h3{
    font-size: 2.2rem;
  }
  
  
  .header-landing{
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    padding: 0.25rem;
  }
  
  .logo-header{
    max-width: 35px;
    height: 100%;
    width: 100%;
  }
  

  
  .hero-section{
    height: 90vh;
    background: url(/src/main/resources/static/fonda2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(106, 141, 163, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
  }
  
  .wrap-hero-section{
    max-width: 600px;
    color: #fff;
    padding: 15%;
  }
  
  

  .footer-section{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .menu-footer-section{
    padding: 1rem 0;
  }
  
  .wrap-menu-footer-section ul li{
    font-size: 1.1rem;
    padding: 1.5rem;
  }
  
  .footer-creds{
    display: flex;
    justify-content: center;
  }